<form [formGroup]="form" (ngSubmit)="saveBook()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" formControlName="title">
    <div [hidden]="!form.get('title').hasError('required')">
      Enter a title
    </div>
  </div>
  <div class="form-group">

    <label for="isbn">ISBN</label>
    <input type="text" id="isbn" formControlName="isbn">
  </div>
  <fieldset formGroupName="publisher">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" formControlName="name">
    </div>
    <div class="form-group">

      <label>Url:</label>
      <input type="text" formControlName="url">
    </div>

  </fieldset>

  <div [hidden]="!form.get('isbn').hasError('isbn')">
    Not a valid ISBN
  </div>

  <button type="submit" [disabled]="form.invalid">Save</button>
</form>
